@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
margin: 0;
box-sizing: 0;
padding: 0;
font-family: "Inter", sans-serif;
/* font-optical-sizing: auto;
font-style: normal; */
}

:root{
    /* Colors */
--colorWhite: hsl(0, 0%, 100%);
--colorBlue200: hsl(224, 100%, 95%);
--colorBlue400: hsl(220, 100%, 64%);
--colorBlue600: hsl(228, 100%, 60%);
--colorBlue700: hsl(228, 99%, 58%);
--colorBlack: hsl(0, 0%, 0%); /* used at 25% opacity for the menu overlay */

/* Txts */
--fontSizeParagraph: 17px;
--FontSize: 14px; /* (stat descriptions, nav, footer) *

/* Font Weight */
--fontweight-400: 400;
--fontweight-500: 500;
}

body {
    width: 100vw;
    height: 100dvh;
    background-color: var(--colorBlue700);
}

.body-container {
    max-width: 1440px;
}

/* Header Section */
.header-container {
    display: flex;
    padding: 1.5rem 3.5rem;
    justify-content: space-between;
    border-bottom: 1px solid var(--colorBlue600);
}

.left-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.35rem;
}

.dot-logo {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--colorWhite);
}

.text-logo {
    color: var(--colorWhite);
    font-size: var(--FontSize);
}

.close-icon {
    width: 1.35rem;
    height: auto;
}

.close-icon:hover {
    cursor: pointer;
}

/* Hero Section */
.hero-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header header sidebar"
                         "header header sidebar"
                         "footer footer sidebar";
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: blue;
    padding-left: 3.5rem;
    grid-area: header;
    display: grid;
    grid-template-areas: "header header sidebar"
                         "header header sidebar2";
}

.hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.35rem;
    justify-content: center;
    color: var(--colorWhite);
    grid-area: header;
}

.hero-caption {
    font-size: 2.35rem;
    line-height: 2.65rem;
    font-weight: var(--fontweight-500);
}

.hero-subcap {
    font-size: 0.65rem;
    line-height: 1.15rem;
    font-weight: var(--fontweight-400);
}

/* Boxes Section */
.hero-box, .hero-box2 {
    padding: 1rem;
    border: 1px solid var(--colorBlue600);
    color: var(--colorWhite);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-box {
    grid-area: sidebar;
}

.hero-box2 {
    grid-area: sidebar2;
}

.box-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .star-img {
        width: 1rem;
        height: auto;
    }
    & .star-numb {
        font-size: var(--FontSize);
    }
}

.box-text {
    display: flex;
    flex-direction: column;
    row-gap: 0.12rem;
    & .box-txthd {
        font-size: 0.90rem;
    }
    & .box-txtbd {
        font-size: 0.68rem;
        color: var(--colorBlue200);
    }
}

/* Footer */
.footer {
    width: 100%;
    background-color: blue;
    border-top: 1px solid var(--colorBlue600);
    font-size: 0.75rem;
    color: var(--colorBlue400);
    padding-left: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    grid-area: footer;
}

/* Navigation section */
.navBar-container {
    height: fit-content;
    padding: 3rem 3.5rem;
    color: var(--colorWhite);
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    grid-area: sidebar;
}

.navBar-container  li {
    cursor: pointer;
    font-size: 1.25rem;
    text-align: end;
    font-weight: var(--fontweight-500);
    list-style-type: none;
    border-bottom: 2px solid var(--colorBlue700);

    & span:hover {
        border-bottom: 2px solid var(--colorWhite);
    }
}